<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">Genral Knowlage</h1>
        <p class="text-white">bewfiufhf webfuibwienfn wekfubuwenf</p>
    </div>
</div>

<div class="container mtr">
    <div class="row">
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>