<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/articles/a102/1920x1080/scuba-diving-jeddah.jpg"
                    alt="" class="card-img img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 1024912 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATE - SEP 20, 2020 </small>

                    <h1 class="mt-2 mb-3">LISAHFLIA lijflenf fkndef</h1>
                    <p>
                        wfeibifuwbfweb ewfbiuwefbweuibfiwebfibiwebifbibweibfbwebifbiwe
                        weriohfoihwehfhowieh
                        r'lgfm;owejpofm
                        wregf
                        er
                        g
                        er
                        g
                        er
                        ger;lgmerilger reghenir
                        regergerg'
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>